.App {
  background-color: red;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
  grid-template-areas:
    "leftHeader rightHeader"
    "spriteScreen statScreen"
    "spriteScreen rightButtons"
    "leftButtons bottomConsole";
}
#leftHeader {
  grid-area: leftHeader;
  background-color: goldenrod;
  margin: 20px;
}

#spriteScreen {
  display: flex;
  position: relative;
  grid-area: spriteScreen;
  background-color: rgb(189, 189, 189);
  border-radius: 20px;
  margin: 30px;
  padding-bottom: 20px;
}

#leftButtons {
  grid-area: leftButtons;
  background-color: palevioletred;
  margin: 20px;
}

#rightHeader {
  grid-area: rightHeader;
  background-color: purple;
  margin: 20px;
}

#statScreen {
  grid-area: statScreen;
  background-color: peachpuff;
  margin: 20px;
}

#rightButtons {
  grid-area: rightButtons;
  background-color: blue;
  margin: 20px;
}

#bottomConsole {
  display: flex;
  flex-direction: row;
  grid-area: bottomConsole;
  background-color: olivedrab;

  margin: 20px;
}
#pokeList {
  flex: 1;
  height: 200px;
  overflow-y: scroll;
}
#evolutionChain {
  flex: 1;
}

.spriteFrame {
  flex: 1;
  background-color: white;
  margin: 40px;
  border-radius: 15px;
  border: solid 5px black;
}

.sprite {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 70px solid red;
  border-right: 70px solid transparent;
  bottom: 0;
}
