.App {
  background-color: red;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
  grid-template-areas:
    "leftHeader rightHeader"
    "spriteScreen statScreen"
    "spriteScreen rightButtons"
    "leftButtons evolutionChain";
}
